.ansprechpartner {
	padding: 10px 5px 10px 5px;
	margin: 0 0 10px 0;
}

.ansprechpartner-head span {
	color: #000;
	font-size: 0.65em;
	margin: 0 0 0 0;
	font-weight: bold;
	display: block;
}

.ansprechpartner-head {
	color: #ad1921;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0.5em;
}

.ansprechpartner-headline-small {
	color: #000;
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.ansprechpartner-tel {
	font-weight: normal;
	font-size: 0.9em;
}

.ansprechpartner .flexible {
	margin-bottom: 0;
}