.arrowlink a:before{

}



.arrowlink{
	display:block;
}

.arrowlink .nut{

	width: 0;
	height: 0;
	border-left: 7px solid #FFFFFF;
	border-top: 20px solid #FFFFFF;
	border-bottom: 20px solid #FFFFFF;
	border-right: 20px solid #ededed;
		
}

.arrowlink .nutrechts{

	width: 0;
	height: 0;
	border-left: 20px solid #ededed;
	border-top: 20px solid #FFFFFF;
	border-bottom: 20px solid #FFFFFF;
	border-right: 7px solid #FFFFFF;
	margin-left:40px;
		
}

.arrowlink .pfeilrechts{
	width: 0;
	height: 0;
	border-right: 20px solid #FFFFFF;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	margin-top:-40px;
	margin-left:15px;
		
}
.arrowlink .pfeillinks{
	width: 0;
	height: 0;
	border-left: 20px solid #FFFFFF;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	margin-top:-40px;
	margin-left:34px;
		
}
