.arrowlink{

	margin-top:10px;
	margin-bottom:10px;
	position: relative;
}
.arrowlink a{
	display:block;
	background:#FFFFFF;
	margin-right: 16px;
	margin-left: 16px;
	text-align: center;
}


.arrowlink .nut{

	width:0px;
	height:0px;
	border-left: 3px solid #FFFFFF;
	border-top: 8px solid #FFFFFF;
	border-bottom: 8px solid #FFFFFF;
	border-right: 5px solid #ededed;	
	float:left;
}
.arrowlink .rechtenut{

	width:0px;
	height:0px;
	border-left: 5px solid #ededed;
	border-top: 8px solid #FFFFFF;
	border-bottom: 8px solid #FFFFFF;
	border-right: 3px solid #FFFFFF;	
	float:right;
}


.arrowlink .feder{

	width: 0px;
	height: 0px;
	border-right: 8px solid #FFFFFF;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	float:left;
		
}
.arrowlink .rechtefeder{

	width: 0px;
	height: 0px;
	border-left: 8px solid #FFFFFF;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	float:right;
		
}