.contentwidget-2col-button{
  background-color: #C9E9F7;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size:14px;
   margin-bottom: 10px;
}

.contentwidget-2col-button h3{
	font-size:14px;
	font-weight: bold;
	color: #000;
	margin-bottom: 25px;
	margin-top: 10px;
}

.contentwidget-2col-button h4{
	font-size:14px;
	font-weight: bold;
	color: #000;
	margin-bottom:5px;
}



.contentwidget-2col-button li{
	list-style-type:none;
	color: #000;

}

.contentwidget-2col-button{
	padding-left:20px;
	padding-bottom:10px;

}


.contentwidget-right {
padding:0;
margin:0;
}


@media only screen and (max-width: 720px) {
  .contentwidget-g50{
    float: none;
    width: auto;
	padding: 0;
	margin:0;
  
  }
  
}

