.contentwidget-2col{
  background-color: #C9E9F7;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
}

.contentwidget-2col h3{
	margin-bottom: 25px;
	margin-top: 10px;
}

.contentwidget-2col .nolist li{
	list-style-type: none;
	margin: 0;
}

.contentwidget-2col .nolist .bank{
	font-weight: bold;
	margin-bottom: 5px;
}

.contentwidget-2col .nolist .bankname{
	margin-bottom: 15px;
}

.contentwidget-2col .nolist span:first-child{
	display: inline-block;
	width: 2.51337em;
	font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .contentwidget-2col .contentwidget-g50{
	    float: none;
	    width: auto;
	    padding: 0;
	    margin: 0;
    }

    .contentwidget-2col .contentwidget-right {
	    margin-top: 40px;
    }
}
