.contentwidget-2col{
  background-color: #C9E9F7;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  font-size:14px;
  padding-bottom: 20px;
}

.contentwidget-2col h3{
	font-size:14px;
	font-weight: bold;
	color: #000;
	margin-bottom: 25px;
	margin-top: 10px;
}

.nolist{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nolist li{
	margin: 0;
}

.contentwidget-2col .nolist .bank{
	font-size:14px;
	font-weight: bold;
	color: #000;
	margin-bottom:5px;
}

.contentwidget-2col .nolist .bankname{
	font-size:14px;
	color: #000;
	margin-bottom:15px;
}

.contentwidget-2col .nolist span:first-child{
	display: inline-block;
	width: 2.51337em;
	font-weight: bold;
}

.contentwidget-right {
	padding:0;
	margin:0;
}

@media only screen and (max-width: 720px) {
  .contentwidget-g50{
	float: none;
	width: auto;
	padding: 0;
	margin:0;
}

.contentwidget-2col .contentwidget-right {
	margin-top: 40px;
}

}

