.cta-black {
  position:relative;
    display:inline-block;
    
	font-size:14px;
	
	background-color:#000000;
    border: 0px solid #b3b3b3;
    -moz-box-shadow:    4px 3px  #ccc;
	-webkit-box-shadow: 4px 3px  #ccc;
	box-shadow:         4px 3px  #ccc;
	font-weight:bold;
	
    text-decoration: none;
	
	line-height:2em;
	padding-right:10px;
	width:110%;


}

.cta-black a:hover,
.cta-black a:focus {
    text-decoration: none;
}
.cta-black a{
color: #ffffff;
}


.cta-black img{
  position: relative;
  left: -10px;
  z-index:1;
  float:left;

}

.ym-col3 .cta-black{
	position:absolute;
	top:160px;
	left:-10px;
	
}

.ym-col3 .cta-black:first-child{
top:0px;
}

