.cta {
  position:relative;
    display: inline-block;
    text-align: center;
	font-size:14px;
	padding:  0;
  border: 1px solid #b3b3b3;
	font-weight:bold;
	
    text-decoration: none;

	 background-color:#ffffff;
width:110%;


}

.cta a:hover,
.cta a:focus {

    text-decoration: none;
}

.cta a{
color: #6F6F6F;
}

.cta span{
	display:block;
	color:#AD1921;
	text-align: center;
	
}

.ym-col3 .cta{
	position:absolute;
	top:120px;
	left:-10px;
	
}

.ym-col3 .cta:first-child{
top:0px;
}

.cta img{
  position: relative;
  left: -15px;
  z-index:1;
  float:left;

}
.black{
background-color:#000000;

}

.black a{
color: #ffffff;
}


.ym-col3 .black{
	position:absolute;
	top:60px;
	left:-10px;
	
}

.ym-col3 .black:first-child{
top:0px;
}

.cta-button{
	width:100%;
	margin-left:10px;
}
