.cta {
  position:relative;
  display: inline-block;
  text-align: center;
	padding:  8px 0 8px 10px;
  border: 1px solid #b3b3b3;
	font-weight:bold;
  text-decoration: none;
	background-color:#fff;
	width:110%;
}

.cta:hover,
.cta:focus {
	background-color: #efefef;
}

.cta.black:hover,
.cta.black:focus {
	background-color: #333;
}

.cta a:hover,
.cta a:focus {
    text-decoration: none;
}

.cta a{
	color: #6F6F6F;
}

.cta span{
	display:block;
	color:#AD1921;
	text-align: center;
	
}

.cta img{
  position: absolute;
  left: -15px;
	top: 3px;
  z-index:1;
  float:left;

}
.black{
	background-color:#000;
}

.black a{
	color: #fff;
}

.black img {
	top: 1px;
}

.cta-button{
	width:100%;
	margin-left:10px;
}

.ym-col3 .cta {
	position:absolute;
	top:120px;
	left:-10px;
}

.ym-col3 .cta.black {
	top:5px;
}

@media screen and (max-width: 600px) {
	.ym-col3 .cta {
		position: relative;
		top: 0;
		left: 0;
		margin-left: 3%;
		margin-bottom: 20px;
		width: 95%;
	}

}