.cleantable tr, .cleantable td, .cleantable th, table.cleantable{
	border-collapse:collapse;
	border:none;
}


  .cleantable tbody tr:hover th,
  .cleantable tbody tr:hover td{
	background:transparent;
	
}

.event .ym-gr{
	padding-right:15px;
	text-align:right;
	}
