
.event .left{
	width:50%;
	float:left;
	
}

.event tr, .event td, .event th, .event table{
	border:none;
	
}


  .event tbody tr:hover th,
  .event tbody tr:hover td{
	background:transparent;
}

.event .right{
	padding-right:15px;
	width:50%;
	text-align:right;
	float:right;
	}
	

.event .description{
	clear:both;
	
}