.cleantable tr, .cleantable td, .cleantable th, table.cleantable{
	border-collapse:collapse;
	border:none;
}

.cleantable tbody tr:hover th,
.cleantable tbody tr:hover td,
.cleantable tbody tr:nth-child(even){
	background:transparent;
}

.event .ym-gr{
	padding-right:15px;
	text-align:right;
}


@media only screen and (max-width: 620px) {
  .cleantable th {
    display:none;
	}
	/* Wozu wollen wir auf einem Smartphone etwas ausdrucken? */
	.event .ym-gr{
		display: none;
	}
	.event .ym-gl {
		width: 100%;
	}
}

