
.contactformular .ym-form{
	margin-top:40px;
}
.contactformular .ym-fbox{
	margin-bottom:10px;
}
.contactformular .ym-fbox-select{
	margin-bottom:30px;
}

.contactformular .ym-form textarea {
	resize:none;
	font-family:arial;
	font-size:13px;
}

.contactformular .ym-form button.ym-success{
	padding:5px 25px 5px 25px;
	float:right;
	background-color:#AD1921;
	color:white;
	border:0;
	font-weight:bold;
	margin-top:10px;
}
.contactformular .ym-form button.ym-success:hover{
	background-color:#B1B3B3;
	color:#AD1921;
	cursor:pointer;
}

.contactformular  .ym-form input,
.contactformular .ym-form select {
    width: 45%;
}

.contactformular  .ym-fbox label{
	font-weight:bold;
	padding-right:10px;
	font-size:14px;
}
.contactformular .ym-fbox label p{
	font-weight:normal;
	font-size:0.9em;
}

.contactformular .isrequired input{
	position:relative;
	top:5px;
}

.contactformular .margin-select{
	margin-bottom:20px;
}

.contactformular .margin-textarea{
	margin-top:30px;
	margin-bottom:0px;
}