
.contactformular .ym-form{
	margin-top:40px;
}
.contactformular .ym-fbox{
	margin-bottom:10px;
}

.contactformular .ym-form select {
	float: right;
	display: inline;
	margin-bottom: 30px;
	margin-right: 0px;
}

.contactformular .ym-form textarea {
	resize:none;
	font-family:arial;
	display: inline;
	float: right;
	margin-right: 0px;
}
.contactformular h3{
	color:#ad1921;
	font-size:1.7em;
}
.contactformular .ym-form button.ym-success{
	padding:5px 25px 5px 25px;
	float:right;
	background-color:#AD1921;
	color:white;
	border:0;
	font-weight:bold;
	margin-top:10px;
}
.contactformular .ym-form button.ym-success:hover{
	background-color:#B1B3B3;
	color:#AD1921;
	cursor:pointer;
}

.contactformular  .ym-fbox label{
	font-weight:bold;
	padding-right:10px;
	font-size:14px;
	min-width:110px;
}
.contactformular .ym-fbox .ym-label{
	font-weight:normal;
	font-size:0.9em;
}

.contactformular .isrequired input{
	position:relative;
	top:5px;
	margin-right: 0px;
}

.contactformular .margin-select{
	margin-bottom:20px;
}

.contactformular .margin-textarea{
	margin-top:30px;
	margin-bottom:0px;
}

@media screen and (max-width: 800px) {
	.contactformular .ym-form select {
		float: none;
		margin-bottom: 5px;
	}
	
	.contactformular .ym-form textarea {
		float: none;
	}
	
	.contactformular  .ym-fbox label, .contactformular .ym-fbox .ym-label {
		width: 100%;
	}
}