/*  Das moderne Boxmodell. Damit können wir uns eine Containerebene für das Layout sparen. */
/*  box sizing */
*, *:before, *:after { 
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
}

.ym-wrapper {
  max-width: 1024px; 
  margin: 0 auto;
}
.ym-wbox {
	padding-right: 10px;
}
/*
 * |-------------------------------------------------------|
 * | content                             | sidebar         |
 * | col 1 | flexible                    | col 3 | fixed   |
 * |                                     |                 |
 * |-------------------------------------------------------|
 */

.ym-column {
  display: block;
  padding-right: 175px; /* column width */
  width: auto;
  background: #fff url("images/spaltenhintergrund-grau.gif") repeat-y right top;
}

.ym-col1 {  /* content */
  position: relative;
  float: left;
  width: 100%;
	padding: 0 20px 20px 20px;
}

.ym-col3 { /* sidebar */
  position: relative;
  float: left;
  width: 175px; /* column width */
  margin: 0 -175px 0 0;
	padding-top: 280px;
}

footer {
  overflow: hidden;
  margin-top: 20px;
  text-align: right;
}

footer a {
   margin-left: 80px;
}

.logo {
  margin: 50px 0 30px 0;
}

/* Wir haben immer nur zwei Grid-Spalten nebeneinander. So geht das Folgende einfach. */

.ym-gl {
	padding: 0 10px 0 0;
}
.ym-gr {
	padding: 0 0 0 10px;
}

@media screen and (max-width: 600px) {
	.ym-column {padding: 0;background-image: none;}
	.ym-col1, .ym-col3, .ym-g66, .ym-g33 {
		float: none;
		width: auto;
		padding: 10px;
		margin: 0 0 10px 0;
	}
	.ym-col3 {
		background-color: #ededed;
	}
	.logo {margin-top: 0;}
}