/* Modul: Navigation */


/* Globale Styles ----------------------------------*/

/* Schriftart für den enthaltenen Text und Standardfarbe */
.navigation {
	font-weight: bold;
	color: #19171B;
	margin-bottom: 90px;
}

/* Jede ul-Liste sollte keine Item-Marker für die Items haben (bei inline Items irrelevant) */
.navigation ul {
	list-style-type: none;
	position: relative;
}

/* Default-Styles für alle Listeneinträge */
.navigation > ul li {
	display: inline-block;
	margin: 0 0 15px 5px;
	border: 2px solid transparent;
}

/* Default-Styles für alle Links */
.navigation > ul li a {
	padding: 15px;
	white-space: nowrap;
	text-decoration: none;
}

/* 1. Element ganz nach links rücken */
.navigation > ul > li:first-child {
	margin-left: 0;
}


/* Erste Navigationsebene ----------------------------------*/

.navigation a {
	font-size: 14px;
	color: #6F6F6F;
}


/*  Untermenü wird unter der ersten Navigationsebene positioniert, jeweils jedes Untermenü muss
	an sich der gleichen Position befinden															*/
.navigation .submenu {
	position: absolute;
	top: 40px;
	left: 0;
}



/* Zweite Navigationsebene ----------------------------------*/

/* a-Elemente der zweiten Navigationsebene */
.submenu a {
    font-size: 12px;
    color: black;
}

.submenu {
	padding: 0 10px;
}

.submenu li {
	margin: 0 0 15px 0;
	line-height: 20px;
}

.submenu a {
	padding: 5px;
	color: #6F6F6F;
}

/* Visueller Feedback ----------------------------------*/

/* Ausgewählter Menüeintrag sowie Feedback bei hover und focus, Selektoren müssen der Spezifität genügen um zuvor gesetzte Eigenschaft zu überschreiben*/
.navigation li.active,
.navigation li:hover {
	border-color: #6F6F6F;
}

.navigation li.active > a,
.navigation li:hover > a {
	color: #AD1921;
}
.navigation li > a:hover,
.navigation li > a:focus {
	color: #AD1921;
}

.submenu li > a.active,
.submenu li > a:hover,
.submenu li > a:focus {
    color: #AD1921;
}

.submenu li.active,
.submenu li:hover {
	border: 2px solid #6F6F6F;
}

.submenu li.active > a,
.submenu li:hover > a{
    color: #AD1921;
}

/* Submenü-Menu bei Meldungen mit Archiv-Link und Sonderthemen */
.special li {
	background: #ededed;
}

.special a {
	color: #AD1921;
}

.special li.archive {
	background-color: #C9E9F7;
}

.special li.archive:hover {
	border: 2px solid transparent !important;
}

/* Sonderfall: Archivnavigation */
.archive-nav {margin-bottom: 30px;}
.archive-nav > ul li {margin-bottom: 2px;}
.archive-nav > ul li a {padding: 4px 0;}
.archive-nav > ul li.active {border-left: 0;border-right: 0 !important;}
.archive-nav ul {margin-bottom: 5px;}

/* Responsive Design ----------------------------------*/

@media screen and (max-width: 1024px) {
	.navigation {
		max-width: 480px;
		margin-bottom: 200px;
	}
	.navigation .submenu {
		max-width: 480px;
		margin-top: 80px;
	}
}

@media screen and (max-width: 480px) {
	.navigation {
		margin-bottom: 10px;
    }
	.navigation li {
		display: block;
	}
	.navigation .submenu {
        margin: 0px;
				top: 10px;
	}
    li.has-submenu.active > a + .submenu,
    li.has-submenu:hover > a + .submenu{
        position: relative;
    }
}