/*Sponsors root element*/
/*emet code: div.sponsors>((span>a)+ul>(li>a>img.flexible)*5)*/
.sponsors{
    padding: 10px 0px;
    margin-bottom: 10px;
    border-top: 2px solid #B1B3B3;
    border-bottom: 2px solid #B1B3B3;
}

/*label and link to other sponsors*/
.sponsors p{
    font-size: 14px;
    font-weight: bold;
    color: #6F6F6F;
}

/*link to other sponsors*/
.sponsors p a{
    color: #AD1921;
}
.sponsors ul{
    text-align: center;
}

.sponsors ul li{
    display: inline-block;
    width: 19%;
    margin: 0;
}

/*interactive links*/
.sponsors ul li a:hover,.sponsors ul li a:focus{
    border-bottom: 3px solid #AD1921;
}

/*breakpoints for rsponsive design*/
/*medium*/
@media screen and (min-width: 601px) and (max-width: 800px){
 
   .sponsors ul li{
        display: inline-block;
        width: 49%;
    }

}
/*small*/
@media screen and (max-width: 600px){

    .sponsors ul li{
        display: block;
        width: 100%;
    }

}
