.sponsors{
    font-weight: bold;
    font-size: 14px;
    text-align:center;
  
}

.sponsors span {
 color:#6F6F6F;

}

.sponsors span a{
 color: #AD1921;
}

.sponsors ul{

}

.sponsors ul li{
    display:table-cell;
    width: 20%;
}

.sponsors ul li a{
    width: 100%;
}

.sponsors ul li a:hover {
    color:yellow;
    text-decoration:none;
}

.sponsors ul li a img{
    width: 100%;
    margin: 0;
}

/* breakpoints */
@media screen and (min-width: 501px) and (max-width:759px){
 
   .sponsors ul li{
        display:inline-block;
        width: 49%;
        margin: 0;
    }

}

@media screen and (max-width: 500px){

    .sponsors ul li{
        display:block;
        width: 100%;
        margin: 0;
    }

}
