/*------Module: Table 1------------------------------------------------*/
.sponsoren-tab-1 th
{
	border-bottom: solid  #B1B3B3 2px;
	padding-bottom: 20px;
}

/*---Caption-----*/
.caption
{
	border-top: solid  #B1B3B3 2px;
	font-variant: normal;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 1px;
	text-align: left;
}

.caption a
{
	font-weight: normal;
}

.caption h3
{
	text-align: left;
	font-size: 100%;
	font-weight: inherit;
	margin-left: 7px;
}

.caption label
{
	margin: 0px 6px;
}

.caption  select
{
	margin: 0px 8px;
	margin-left: 0px;
}
.caption form 
{
	margin: 20px 0;
}
.caption input[type="submit"] 
{
	background-color: #AD1921;
	color: #fff;
	border: none;
	padding: 2px 6px;
	margin-left: 10px;
	cursor: pointer;
}

.caption input[type="radio"] 
{
	margin-left: 15px;
}

.caption input[type="radio"]+label
{
	margin: 0px;
}

.caption input[type="submit"]:active
{
	position: relative;
	top: 1px;
	left: 1px;
}

/*---table-----*/
.sponsoren-tab-1 td
{
	height: 69px;
	border-bottom: solid #B1B3B3 1px;
	vertical-align: middle;
	width: 25%;
}

.sponsoren-tab-1 td:nth-child(3n+2)
{
	width: 50%;
	font-weight: bold;
}

.sponsoren-tab-1 td div
{
	position: relative;
}


/*---Sponsorenlogo (ohne js)-----*/
.sponsor-img
{
	cursor: pointer;
}

.sponsoren-tab-1 .sponsor-img-small:hover+.sponsor-img-big
{
	display: block;
	position: absolute;
	left: 10px;
	top: -320px;
	height: 300px;
	z-index: 2;
}

.sponsoren-tab-1 .sponsor-img-big
{
	display: none;
}

.sponsoren-tab-1 .sponsor-img-small
{
	vertical-align: middle;
	margin: 5px;
	padding-bottom: 0;
	height: 60px;
}

/*-------Sponsorenlogo (mit js)----------*/
.tooltip:hover {
	cursor: pointer;
}

.tooltipcnt {
	position: absolute;
	left: 10px;
	top: -320px;
	height: 300px;
	z-index: 2;
	background-color: #f0f0f0;
	border: 1px solid #999;
	padding: 10px;
}

/*----Pagination-----*/
.pagination 
{
	position: relative;
	padding-left: 0;
	margin-bottom: 50px;
	margin-top: 25px;
}

.pagination ul{
	text-align: center;
}

.pagination li 
{
	display: inline-block;
	margin-left: 0;
	margin-bottom: 12px;
}

.pagination a
{
	position: relative;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination li:first-child a
{
	margin-left: 0;
}

.pagination a:hover,
.pagination a:focus
{
	background-color: #e1e1e1;
}

.pagination .active a,
.pagination .active a:hover,
.pagination .active a:focus
{
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #AD1921;
	border-color: #AD1921;
}

.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled a:focus 
{
	color: #999999;
	cursor: not-allowed;
	background-color: #ffffff;
	border-color: #dddddd;
}
/*-------------Responsive-----------------*/
@media only screen and (max-width: 620px) {
	table.responsive {
		border: none;
	}
	table.responsive thead {
		display: none;
	}
	table.responsive tr, table.responsive td, table.responsive th {
		border: none;
	}
	table.responsive tr {
		display: block;
		width: 100%;
		border-bottom: 1px solid #333;
		padding-bottom: 0.5em;
	}
	table.responsive tbody td, table.responsive tbody th {
		display: table-row;
		text-align: left;
		height: 40px;
		width: auto;
	}
	table.responsive tbody td:before, table.responsive tbody th:before {
		text-align: left;
		padding-right: 5px;
		font-weight: 500;
	}
	table.responsive tbody th:before {
		content: "Firmen: ";
	}
	table.responsive tbody td:nth-child(1):before {
		content: "Firma:";
		font-weight: bold;
		color: black;
		display: block;
	}
	table.responsive tbody td:nth-child(3):before {
		content: "Ort: ";
		font-weight: bold;
		color: black;
		display: block;
	}
	table.responsive caption span:nth-child(4),
	table.responsive caption span:nth-child(5){
		display:block;
	}
	
	table.responsive tbody tr:nth-child(1){
		border-top: solid  #B1B3B3 2px;
	}

	table.responsive tbody tr:hover th,
	table.responsive tbody tr:hover td {
		background: transparent;
	}

}