/*------Module: Table 1------------------------------------------------*/
.sponsoren-tab-1 
{
width: 97%;
border-collapse: collapse;
border-top: 0;
}

.sponsoren-tab-1 tbody tr:nth-child(even)
{
background-color: #B1B3B3;
}


/*---caption-----*/
.sponsoren-tab-1 caption
{
border-top: solid  #B1B3B3 2px;
/*border-bottom: solid  #B1B3B3 2px;*/
font-variant: normal;
font-weight: bold;
padding-top: 20px;
padding-bottom: 1px;
}

.sponsoren-tab-1 th{
	border-bottom: solid  #B1B3B3 2px;
	padding-bottom: 20px;
}

.sponsoren-tab-1 caption a{
font-weight: normal;
}

.sponsoren-tab-1 caption h3{
	text-align: left;
	font-size: 100%;
	font-weight: inherit;
	/*margin-bottom: 10px;*/
	margin-left: 10px;
}

.sponsoren-tab-1 fieldset
{
border: 0px;
}

.sponsoren-tab-1 label
{
margin: 0px 6px;
margin-right: 2px;
}

.sponsoren-tab-1  select
{
margin: 0px 8px;
margin-left: 0px;
}

/*---table-----*/
.sponsoren-tab-1 td
{
height: 69px;
border-bottom: solid #B1B3B3 1px;
vertical-align: middle;
width: 25%;
}

.sponsoren-tab-1 td:nth-child(3n+2){
	width: 50%;
	font-weight: bold;
}

.sponsoren-tab-1 td div
{
position: relative;
}

.sponsoren-tab-1 .sponsor-img-small:hover+.sponsor-img-big{
display: block;
/*visibility: visible;*/
position: absolute;
z-index: 5;
overflow: hidden;
left: 10px;
top: -320px;
height: 300px;
/*transition: all .3s 1s ease;*/
}

.sponsoren-tab-1 .sponsor-img:hover .sponsor-img-small{

}

.sponsoren-tab-1 .sponsor-img-big
{
vertical-align: middle;
margin: 5px;
padding-bottom: 0;
/*visibility: hidden;*/
display: none;
}

.sponsoren-tab-1 .sponsor-img-small
{
vertical-align: middle;
margin: 5px;
padding-bottom: 0;
height: 60px;
}

.sponsoren-tab-1 td:first-child
{
color: #AD1921;
text-align: left;
font-weight: bold;
}
