.contentwidget img{
	margin-bottom:10px;
}
.contentwidget{
	margin-bottom:10px;
	border-radius: 1px;
	border-bottom:2px #b1b3b3 solid;
	padding-bottom:10px;
}
.contentwidget link{
	color:#AD1921;
}
.contentwidget small{
	color:#6f6f6f;
	display:block;
	font-size:12px;
	font-weight:bold;
}
.contentwidget h3 {
	color:#AD1921;
	font-size:14px;
	font-weight:bold;
}


.contentwidget .dottedlink{
	list-style-type: disc;
	display: list-item;
	margin: 0 0 0 15px;
	margin-left:18px;
	
}

