.contentpadded img{
	padding-bottom:10px;
}
.contentpadded{
	padding:15px;
}
.contentpadded link{
	color:#AD1921;
}
.contentpadded small{
	color:#6f6f6f;
	display:block;
	font-size:12px;
	font-weight:bold;
}
.contentpadded h3 {
	color:#AD1921;
	font-size:14px;
	font-weight:bold;
}


.contentpadded .dottedlink{
	list-style-type: disc;
	display: list-item;
	margin: 0 0 0  15px;
}

