

.zusatzwidget-content-4{
  list-style-type:none;
  text-decoration:underline;
  padding: 0 0 0 0;
}
.zusatzwidget-content{
  background-color: #C9E9F7;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size:12px;
  width: 33%;
}
.zusatzwidget-content-5{
	color: #000;
  
}
