.zusatzwidget-content-5 a {
	color: #000;
	text-decoration:underline;
  
}

.zusatzwidget-content-5 h2{
	font-size:14px;
	font-weight: bold;
	color: #000;
	margin-top: 10px;
}

.zusatzwidget-content-5{
  background-color: #C9E9F7;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
 
  font-size:14px;
}

.zusatzwidget-content-5 p{

}
