.zusatzwidget-content-6{
  background-color: #C9E9F7;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size:14px;
   margin-bottom: 15px;
}

.zusatzwidget-content-6 h3{
	font-size:14px;
	font-weight: bold;
	color: #000;
	margin-bottom: 25px;
	margin-top: 10px;
}

.zusatzwidget-content-6 h4{
	font-size:14px;
	font-weight: bold;
	color: #000;
	margin-bottom:5px;
}

.zusatzwidget-content-6 table{
  text-align: left;
  table-layout: auto;
  border-style: none;
  width:60%;
  
}

.zusatzwidget-content-6 th,
.zusatzwidget-content-6 td{
	height: auto;
	border:none;
	padding: 0;
	color: #000;
	
	
}

.zusatzwidget-content-6 tr:hover th,
.zusatzwidget-content-6 tr:hover td{
  background:transparent;
 
}



